.container {
    background-color: aquamarine;
    display: flex;
    width: 60%;
    height: 700px;
    /* flex-direction: row;
    flex-wrap: wrap; */
    /* Hace lo mismo que los 2 de arriba pero en una sola línea de código    */
    /* flex-flow: row wrap; */
    flex-wrap: wrap;
}

/* .hijo1 {
    display: flex;
    width: 30%;
    height: 200px;
    background-color: chocolate;
    border-radius: 10px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}

h4{
     rder-bottom: 1px solid blue  ;
}


.hijo2 {
    width: 30%;
    height: 300px;
    background-color: chocolate;
    border-radius: 10px;
    border: 1px solid black;
}

.hijo3 {
    width: 30%;
    height: 400px;
    background-color: chocolate;
    border-radius: 10px;
    border: 1px solid black;
} */

.hijo {
    order: 0;
    height: 80%;
    background-color: chocolate;
    border-radius: 10px;
    border: 1px solid black;
}

.hijo1 {
    order: 1;
    flex-grow: 2;
}

.hijo2 {
    order: 3;
    flex-grow: 2;

}

.hijo3 {
    order: 2;
    flex-grow: 4;
    align-self: flex-end;

}


.cuarto {
    width: 100%;
    height: 30%;
    background-color: chocolate;
    border-radius: 10px;
    border: 1px solid black;
}