body{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
}

.tabla{
    display: table;
    margin: 0 auto;
    /*No funciona el margin para separar*/
    border-collapse: separate;
    border-spacing: 20px;
}

.fila{
    display: table-row;
}

.celda{
    display: table-cell;
}

.img{
    width: 350px;
    box-shadow: 0 0 15px black;
}
