.container{
    background-color: rgb(167, 167, 29);
    display: flex;
    width: 60%;
    height: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.hijo{
    width: 33%;
    height: 80%;
    background-color: orange;
    border-radius: 10px;
    border: 1px black solid;
}

.hijo2{
    width: 100%;
    height: 50%;
    background-color: orange;
    border-radius: 10px;
    border: 1px black solid;
}
