html{
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecera{
    text-align: center;
    background-color: #fa9231;
}

.navegacion ul li{
    list-style: none;
}

.navegacion .menu > li{
    display: inline-block;
}

.submenu-parent {
    position: relative; 
}

.submenu-parent:hover .submenu {
    display: block;
}

.submenu-parent .submenu:hover .submenu-2 {
    display: block;
}

.submenu{
    display: none;;
    position: absolute;
    background-color: #fa9231; 
    padding: 0;
    text-align: left;
    z-index: 1000;
}

.navegacion ul li a{
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    margin: 20px;

}

.submenu-2{
     display: none;
  position: absolute;
  top: 0;
  left: 100%; /* Lo coloca al lado derecho del padre */
  background-color: #fa9231;
  padding: 0;
  text-align: left;
  z-index: 1000;
}

.navegacion ul li a:hover{
    background-color: rgb(205, 250, 3);
}

.submenu2 {
  position: relative;
}