/* Definicion de variables */
:root {
    --color-primario:#ddb783;
    --color-blanco: white;
    --color-negro: #222;

    --fuente : Arial, sans-serif;
}



/* IMAGEN DE FONDO Y VALORES INICIALES */
body {
  background-image: url("img/fondo.jpeg");
  background-size: cover;      
  background-repeat: no-repeat;
  background-position: center;   

   padding: 0;
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   font-family: var(--fuente); 

}

/**INICIAMOS CON LA VERSION MOVIL*/
.cabecera {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-negro);
  z-index: 1000;
}


/*imagen ordenador */
.logo-entero{
    display: none;
    height: 60px;
}
/**imagen movil,quitarla cuando hagamos la version ordenador*/
.logo-numero{
width: 40px;
}

/* Div barra */
.div-buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88%;
}

.input-buscar{
    width: 60%;
    height: 20px;
    border-radius: 40px;
    border: none;
}

/**Menu rallitas*/
.enlaces-desktop{
    display: none;
}

.menu-rayitas {
    display: flex;
    width: 40px;
    justify-content: end;
    align-items: center;
}

/*las rayitas svg*/
.linea {
    fill: none;
    stroke: var(--color-primario);
    stroke-width: 4px;
    transform-origin: center;
    transform-box: fill-box;
     transition: all 0.05s ease-in-out;
}

/*tranformación al poner el ratón sobre el svg*/
.menu-icono:hover .linea1 {
    transform: translateY(20px) rotate(45deg);
}

.menu-icono:hover .linea2 {
    opacity: 0;
}

.menu-icono:hover .linea3 {
    transform: translateY(-20px) rotate(-45deg);
}


/**MAIN*/
main {
    width: 80%;
    margin-top:50px;
}

img {
    width: 100%;
    align-items: center;
}


.titulo{
    font-weight: 20px;
    color: var(--color-primario);
    border-bottom: 2px solid var(--color-primario);
    font-family: var(--fuente);
    font-size: 15px;

}

.principal{
    background-color: var(--color-negro);
    padding: 18px;
}

.art2-tit{
    font-weight: 30px;
    color: var(--color-negro);
    font-family: var(--fuente);
    font-size: 15px;
}


/* --- PRIMER MAQUETADO CON GRID EN MODO MÓVIL--- */
.articulos{
    position: relative;
     margin-bottom: 30px;

}


#articulo-1 {
    grid-area: art1;
     
}

#articulo-3{
    grid-area: art3;
    padding: 120px;
     
    

}
#articulo-4{
    grid-area: art4;
    

}
#articulo-5{
    grid-area: art5;
    
}


.articulos {
    border: 5px solid var(--color-primario);
}

.tit-art{
    color: var(--color-blanco);
    font-family: var(--fuente);
    border-bottom: 4px solid var(--color-blanco);
    font-weight: bold;
    font-size: 15px;
    z-index: 100;
    position: absolute;
    bottom: 20px;
   
}

 .img-deg {
        -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}  


/* lo alineo con flex y lo añado al grid general */
#articulo-2{
    background-color: var(--color-primario);
    padding: 20px;
    display: flex;
    flex-direction:column;

    grid-area: art2;

}

/*elementos del grid-area definico arriba*/
.principales {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
        "art1"
        "art2"
        "art3"
        "art4"
        "art5";
    
    /*separación entre filas*/
    row-gap: 55px;
}

 /* *Maquetacion de ordenador */
@media screen and (min-width: 992px) and (orientation: landscape){

  /* CABECERA */
  .cabecera {
      height: 80px;
      background-color:var(--color-negro);
      justify-content: space-between;
      padding: 0 40px;
      
  }


  .logo-entero {
      display: block;
      height: 30px;
  }

  .logo-numero {
      display: none;
  }

  .div-buscar {
      width: 40%;
  }

  .input-buscar {
      width: 100%;
      height: 28px;
  }

  .enlaces-desktop {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
  }

  .enlaces-desktop ul {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  .enlaces-desktop ul li {
    list-style: none;
  }

  .enlaces-desktop ul li a {
    color: var(--color-primario);
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
  }

  .menu-rayitas {
      display: none;
  }

  /* MAIN */
  main {
      width: 80%;
      margin: 110px auto 40px auto;
  }

  .principal {
      background-color: var(--color-negro);
      padding: 30px;
  }

  .titulo {
      font-size: 20px;
      margin-bottom: 25px;
  }

  /* GRID GENERAL ESCRITORIO */
  .seccion-1 {
      display: grid;
      grid-template-columns: repeat(2,2fr);
      grid-template-rows: auto auto auto;
      grid-template-areas:
          "art1 art2"
          "art3 art2"
          "art4 art5";
      gap: 30px;
  }

  #articulo-1 { grid-area: art1; }
  #articulo-2 { grid-area: art2;  }
  #articulo-3 { 
      grid-area: art3; 
      padding: 0;      
  }
  #articulo-3 img {
  width: 40%;        
  margin: 0 ;     
  display: block;
}

  #articulo-4 { grid-area: art4; padding: 5px }
  #articulo-5 { grid-area: art5;  }


  /* TITULOS SOBRE IMAGEN */
  .tit-art {
      color: var(--color-blanco);
      font-family: var(--fuente);
      border-bottom: 4px solid var(--color-blanco);
      font-weight: bold;
      font-size: 15px;
      z-index: 100;
      position: absolute;
      bottom: 20px;
  }
  
   .img-deg {
      -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
      mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  }  

  /* ARTÍCULO 2 */
  #articulo-2 {
      display: grid;
      background-color: var(--color-primario);
      padding: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto repeat(2, 1fr);
      grid-template-areas:
          "titulo titulo"
          "img-1 img-2"
          "img-3 img-4";
      gap: 10px;
  }

  #art2-tit {
      grid-area: titulo;
      font-size: 18px;
      margin-bottom: 10px;
      color: var(--color-negro);
  }

  #img-1 { grid-area: img-1; }
  #img-2 { grid-area: img-2; }
  #img-3 { grid-area: img-3; }
  #img-4 { grid-area: img-4; }

  .img-personajes {
      overflow: hidden;
  }

  .img-personajes img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}





