.container{
    background-color: beige;
    display: flex;
    width: 60%;
    height: 200px;
    flex-direction: row;
    flex-wrap: wrap;
}

.hijo{
    width: 24%;
    height: 80%;
    background-color: orange;
    border-radius: 10px;
    border: 1px black solid;
}

.hijo2{
    width: 100%;
    height: 50%;
    background-color: orange;
    border-radius: 10px;
    border: 1px black solid;
}
