body {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    --color-gris: #eee;
    --color-blanco: white;
    --color-primario: #5582f3;
    --color-secundario: #a3bbf5;

    --fuente-principal: Arial, Helvetica, sans-serif;

    font-family: var(--fuente-principal);
    background-color: var(--color-gris);

}

header {
    position: relative;
    background-color: var(--color-primario);
    overflow-y: auto;
    height: 10vh;
    align-content: center;
    box-shadow: 0 0 15px 5px grey;
}

header .header-flota-izq {
    width: 30%;
    float: left;
    margin-left: 2%;
}

header .header-flota-izq .menu-lateral {
    background-color: var(--color-secundario);
    width: fit-content;
    position: fixed;
    height: 90vh;
    bottom: 0;
    left: -100%;
    transition: all 0.5s ease;
}

header .header-flota-izq .menu-lateral nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

header .header-flota-izq .menu-lateral nav ul li a{
    text-decoration: none;
    display: block;
    padding: 25px;
    color: var(--color-blanco);
    font-weight: bold;
}

header .header-flota-der {
    position: relative;
    width: 30%;
    float: right;
    margin-right: 2%;
    text-align: right;
}

header .header-flota-der .nombre-iniciales {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(-50%,-50%); /*para posicionar el punto de transformación en el centro del contenedor */
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--color-blanco);
    color: var(--color-primario);
    font-size: 1.2em;
}

header .header-centro {
    margin-left: 3%;
    position: relative;
    text-align: center;
}

.busqueda {
    width: 90%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid white;
    background-color: var(--color-primario);
    font-size: 1.5em;
    transition: all 0.5s ease;
}

.busqueda:focus {
    background-color: var(--color-blanco);
}

.lupa {
    width: 20px;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%,-50%);
    filter: invert(0.5);
    transition: all 0.5s ease;
}

.busqueda:focus + .lupa {
    filter: invert(0);
}

header object {
    width: 30px;
}

main {
    width: 95%;
    margin: 0 auto;
    margin-top: 25px;
    border: 1px solid black;
    background-color: var(--color-blanco);
    border-radius: 25px;
}

    main .sec1 {
        background-color: red;
    }

    main .sec2 {
        background-color: yellow;
    }

    main .sec3 {
        background-color: blue;
    }

    main .sec4 {
        background-color: green;
    }

/*estilos mobile first */
@media screen and (max-width: 1023px) {
    main .tarjeta {
        text-align: center;
        width: 90%;
        height: 200px;
        border: 1px solid black;
        margin: 10px auto;
        border-radius: 10px;
    }

    header .header-flota-izq .menu-rayas:hover + .menu-lateral {        
        left: 0;
    }

    header .header-flota-der .nombre-completo {
        display: none;
    }

    body .nav-desktop {
        display: none;
    }

    footer {
        background-color: var(--color-primario);
        width: 100%;
        text-align: center;
    }
}

/*estilos versión desktop*/
@media screen and (min-width: 1023px) {
    main {
        text-align: center;
    }

    header .header-flota-izq object:first-child {
        display: none;
    }

    header .header-flota-der .nombre-iniciales {
        display: none;
    }

    body .nav-desktop {
        text-align: center;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }

    body .nav-desktop ul {
        list-style: none;
    }

    body .nav-desktop ul li {
        display: inline-block;
    }

    body .nav-desktop ul li a {
        display: block;
        text-decoration: none;
        padding: 5px 25px 0px 25px;
    };

    main .tarjeta {
        display: inline-block;
        text-align: center;
        width: 45%;
        height: 200px;
        border: 1px solid black;
        margin: 10px auto;
        border-radius: 10px;
    }

    footer {
        position: fixed;
        bottom: 0;
        background-color: var(--color-primario);
        width: 100%;
        text-align: center;
    }

    footer ul {
        list-style: none;
    }

    footer ul li {
        display: inline-block;
    }

    footer ul li a {
        display: block;
        text-decoration: none;
        color: var(--color-blanco);
        padding: 0 25px;
    }
}
