/* Cabecera general */
.cabecera {
  background-color: #fff;
  padding: 10px 40px;
  overflow: hidden; /* para contener los floats */
  border-bottom: 1px solid #ccc;
}

/* Contenedor principal */
.contenedor {
  width: 100%;
  overflow: hidden;
}



/* Logo alineado a la izquierda */
.imagenLogo {
  float: left;
  width: 120px;
  height: auto;
  margin-right: 30px;
}

/* Barra de navegación general */
.barra1 {
  float: left;
  width: calc(100% - 150px); /* ajusta según el tamaño del logo */
  overflow: hidden;
}

/* Menú izquierdo */
.menu1 {
  float: left;
  list-style: none;
  margin: 10px;
  padding: 0;
}

.menu1 li {
  float: left;
  margin-right: 25px;
}

.menu1 a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.barra1 a::after {
  content: " ▼";
  font-size: 0.8em;
}

/* Menú derecho */
.menu2 {
  float: right;
  list-style: none;
  margin: 10px;
  padding: 0;
}

.menu2 li {
  float: left;
  margin-left: 20px;
}

.menu2 a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  margin: 4px;
}


/* Botón destacado */
#LoginBoton {
  background-color: #4127d4;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}





/* Contenedor principal */

.bloque1 {
  width: 100%;
  overflow: hidden; /* para contener los floats */
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 0;
}  



.todo-izquierda1 {
  float: left;
  width: fit-content;
  position: relative;
  overflow: visible;
  width: 520px; /* o el ancho del fondo + margen */
  min-height: 600px; 
}

/**Foto a la izquierda*/
.fondo{
    display: block;
    float: left;
    width: 500px; /* ajusta según tu diseño */
}

.olasnegras {
  position: absolute;
  top: -15px;
  text-align: center;
  left: 235px;
  width: 40px;
}

.bolsanaranja {
  position: absolute;
  top: 4px;
  right: 28px;
  width: 20px;
}

.menunaranja {
  position: absolute;
  bottom: 570px;
  left: 15px;
  width: 20px;
}

.olasBlancas{
  width: 100px;
  position: absolute;
  bottom: 450px;
  left: -45px;
}

.menuNaranja{
  position: absolute;
  width: 200px;
  bottom: 400px;
  left: 400px;
}

.Caja-debajo-Naranja{
 position: absolute;
  top: 253px;
  left: -5px;
  width: 507px;
  height: 280px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  z-index: 5;
}

.alineaC {
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center;     /* alinea verticalmente si hay diferencia de altura */
  gap: 20px;               /* espacio entre las imágenes */
  margin-top: 20px;        /* opcional, para separar del contenido superior */
}

.cuadrado{
  width: 150px;
}
.camiseta1{
  width: 150px;
}
.camiseta2{
  width: 150px;
}
.bloque-cuadrado {
  position: relative;
  width: fit-content;
}

.cuadrado {
  width: 150px;
  display: block;
}

.camiseta3 {
  position: absolute;
  top: -10px;     /* ajusta para subirla encima */
  left: 420px;     /* ajusta para que esté al lado del cuadrado */
  width: 120px;
}



/**Texto derecha  BLOQUE 1 Y 2*/
.section-derecha1{
    float: left;
    width: 30%; /* o ajusta según el espacio que quieras ocupar */
    box-sizing: border-box;
    padding-left: 80px;
    box-sizing: border-box;
   
}

.section-derecha2{
    float: right;
    width: 30%; /* o ajusta según el espacio que quieras ocupar */
  box-sizing: border-box;
  padding-left: 40px;
    box-sizing: border-box;
}

.inicial{
    color: #4127d4;
}
.section-derecha h1 {
    font-weight: bold;
}


/* Contenedor secundario */
 .bloque2 {
  clear: both;
 /* width: 100%;*/
  overflow: hidden; /* para contener los floats */
  /*padding: 20px;*/
  box-sizing: border-box;
  margin-top: 0;
} 




/**izquierda fotos BLOQUE 2 */
.todo-izquierda2 {
  float: left;
  width: fit-content;
  position: relative;
   overflow: visible;
}


.movil{
  width: 300px;
}

.caja-superior-izquierda {
  position: absolute;
  top: 2px;
  left: -5px;
  width: 160px;
  height: 180px;
  background-color: #fcf9f9;
  border-radius: 5px;
  
  
}

.icono-facebook {
  width: 20px;
  display: block;
  margin-left: 8px;


}

.zapas3 {
  width: 150px;
  margin-top: 15px; /* separa del icono */
  margin-bottom: 15px;
    margin-left: 4px;

}

.bolsa{
  width: 20px;
  margin-left: 8px;
}


.caja-inferior-derecha {
  position: absolute;
  bottom: 3px;
  left: 100%;            /* lo coloca justo al borde derecho del móvil */
  margin-left: -78px;     /* lo empuja un poco más hacia afuera */
  width: 205px;
  height: 250px;
  background-color: #fffefe;
  border-radius: 5px;
  z-index: 10;
  padding: 20px;
}

.iconos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icono-google{
   width: 20px;
   display: block;
  margin-left: 4px;
}

.icono-micro{
   width: 20px;
   display: block;
   margin-left: 78px;
}

.zapatillas {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.zapas1{
  width: 120px;
}
.zapas2{
  width: 120px;
}
