
:root{
    --color-Primario: #005c9c;
    --color-Secundario: #d9534f;
}

header{
    background-color: #0A4A7A;
    color: white;
}
*{
    margin: 0;
    padding: 0;
}

header > li{
    position: relative;
    top: 1.5em;
}

#tituloPrincipal{
    text-align: left;
    color: white;
    padding-top: 5px ;
}

main {
    overflow: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    background: var(--texto-Oscuro);
    text-align: right;
    border-radius: 8px;
}
nav li {
    display: inline-block;
}
nav a {
    display: block;
    padding: 15px;
    color: var(--blanco);
    float: right;
}
nav a:hover{
    background-color: white;
}

h2,h3,h4{
    color: #0A4A7A;
}


input[type='email']:invalid, input[type='text']:invalid{
    border: 3px solid var(--color-Secundario);
}


footer{
    position: relative;
    text-align: center;
    background-color: #333;
    color:white ;
    padding: 10px;
}

/* main{
    float: left;
}
aside{
    float: right;
} */

.niño{
    border-radius: 100px;
}

img{
    width: 200px;
    height: 200px;
}
button { 
    padding: 10px 15px; 
    border: none; 
    background-color: var(--color-Primario);
    color: var(--blanco);  
    cursor: pointer; 
    border-radius: 5px;
}

main,section{
    background-color: white;
}

section{
    borde
}

div{
    background-color: #e4b9b9;
}
article,aside{
    background: white;
    border-radius: 8px;
    margin-bottom: 20px;
}

main { 
    width: 65%; 
    float: left; 
    box-sizing: border-box; 
    padding-right: 20px;
}

aside { 
    width: 35%; 
    float: right; 
    box-sizing: border-box; 
}
