:root{
    --color-primario : #0a4a7a;
    --color-secundario: #008cba;
    --color-fondo : #f4f4f4;
    --color-texto: #333;
    --color-blanco: #fff;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

/**CABECERA*/

.cabecera{
    background-color: var(--color-primario);
    /*Para que detecte las cajas y se centre*/
    overflow: auto;
}

.cabecera h1{
    float: left;
}

.cabecera nav{
    float: right;
}



/**CUERPO*/

body{
    background-color: var(--color-fondo);
    overflow: auto;

}

.principal{
    float: left;
    width: 65%;
}
 .kioto{
    width: 400px;;
}

.flota-der{
    float: right;
}
.flotaizr{
    float:  left;
}

.mimgMia{
    width: 100px;
}





/*PIE DE PAGINA*/
footer{
    background-color: var(--color-texto);
    clear: both;
}
